@banner-color: darkgrey; 
@font-size:16px;
.item(@w){
    width: @w; 
    text-align: center;
    padding: 3px;
}
.generate-items(@n, @i: 1) when (@i =< @n) {
    .menu-item@{i} {
        .item(50px);
        position: absolute;
        left:80px+(@i * 100px);
        top:0;
        transition: left 1.5s ease-in-out;
    }
    .generate-items(@n, (@i + 1));
}

body{
    padding: 0;
    margin: 0;
}
.banner{
    width: 100%;
    padding: 50px;
    font-size: @font-size*3;
    text-align: center;
    background-color:@banner-color; 
}
.menu{
    font-size: @font-size;
    position: relative;
    display: flex;
    .menu-btn{
        background-color:red;
        .item(100px);
        z-index: 1;
        transition: transform 1.5s ease-in-out;
        transform-origin: 0% 0%;
    }
    .generate-items(5);
}
.main{
    p{
        text-align: justify;
    }
}
.in-out{
    left:0!important;
}
.rotate{
    transform:rotate(-45deg);
}

#bullet{
    position: absolute;
    font-size: @font-size*1.5;
}
.in-bullet{
    left: 0;
    top: 0;
    transition: left 1.5s ease-in-out,top 1.5s ease-in-out;
}
.out-bullet{
    left:80px;
    top:-80px;
    transition: left 1.5s ease-in-out,top 1.5s ease-in-out;
}

