/*base: #2D882D*/
@font-family: 'Roboto', sans-serif;
@menu-color:#6d6d6d;
@menu-bar-color:white;
@bg-color:white;
@home-banner:"images/home-banner.jpg";
@products-banner:"images/products-banner.jpg";
@about-banner:"images/about-banner.jpg";
@font-size:14pt;
@text-color-1:white;

@color-1: #2D882D;
@color-2: #88CC88;
@color-3: #55AA55;
@color-4: #116611;
@color-5: #004400;
@color-5-op:rgba(0,68,0,.6);

.border-top-bottom(@wd,@rad,@color){
    border-bottom: @wd solid @color;
    border-top: @wd solid @color;
    border-radius: @rad;
}

.menu-border(@color){
    border-left: 1px solid @color;
    &:last-child{
        border-right: 1px solid @color;
    }
}

body{
    padding:0;
    margin: 0;
    background-color: @bg-color;
}

nav{
    display: flex;
    justify-content: center;
    font-family: @font-family;
    margin-top: 50px;
    height:80px;
    font-weight: bold;
    color: @menu-color;
    background-color: @menu-bar-color;
    .logo-area{
        text-align: right;
        margin-left: -100px;
        #logo{
            height: 50px;
        }
    }
    .nav-bar{
        margin-left: 100px;
        padding: 0;
        height:20px;
        list-style: none;
        .item{
            display: inline-block;
            text-align: center;
            padding-left: 8px;
            padding-right: 8px;
            .menu-border(@menu-color);
            a{
                text-decoration: none;
                color: @menu-color;
            }
        }
    }
    .login{
        padding-top: 15px;
        margin-left: 100px;
        a{
            color: @menu-color;
        }
    }
}
.bg-home{
    background-image: url("@{home-banner}");
}
.banner{
    position: relative;
    margin: auto;
    width: 1640px;
    height: 600px;
    background-size: cover;
    .overlay{
        width: 30%;
        filter: opacity(80%);
        background-color: @color-5;
        height: 100%;
        line-height: 70px; 
        text-align: center;
        .spacer{
            height: 28%;
        }
        h1{
            margin: auto;
            color: @text-color-1;
            font-size:3*@font-size; 
            width: 60%;
            padding-bottom: 30px;
            padding-top: 30px;
            .border-top-bottom(2px,5px,white);
        }
    }
}
.line{
    margin:auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 60%;
    border-radius: 20px;
}
.container{
    width: 1280px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-family: @font-family;
}
.c1{
    display:grid;
    grid-template-areas: 
    'text img';     
    grid-gap: 30px;
    background-color: @color-5-op;
    padding: 20px;
    .txt{
        grid-area: text;
        .quote{
            color:@text-color-1;
            font-style: italic;
        }
        p{
            text-align: justify;
            line-height: 25px;
            color: @text-color-1;
            width: 80%;
            margin: auto;
        }
    }
    img{
        grid-area: img;
        width: 500px;
        margin-top: -50px;
        margin-bottom: -50px;
    }
}
.c2{
    h1{
        font-size: 2.5  *@font-size;
    }
    .img-list{
        .border-top-bottom(2px,5px,@color-2);
        padding: 20px;  
        width: 100%;
        display: flex;
        justify-content: space-around;
        .item{
            img{
                width: 300px;
                height:200px;
            }
        }
    }
    .columns-2{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: @font-family;
        background-color: @color-5-op;
        h2{
            width: 100%;
            font-size: 2*@font-size;
            color: @text-color-1;
        }
        p{
            width: 500px;
            padding:0 30px 40px 30px;
            text-align: justify;
            color: @text-color-1;
            margin:0;
        }
    }
}
footer{
    margin-top: 100px;
    background-color: rgba(0,68,0,.8);
    box-shadow: 0 2px 6px @color-5 inset;
    .footer-menu{
        height:200px;
    }
    .b-line{
        margin: auto;
        border-top: 2px solid white;
        font-size: 0.7*@font-size;
        color:@text-color-1;
        width: 960px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .bottom{
            list-style: none;
            padding: 0;
            li{
                display: inline-block;
                padding-left: 8px;
                padding-right: 8px;
                .menu-border(white);
            }
        }
    }   
}
.bg-prod{
    background-image: url("@{products-banner}");
}

.divisor{
    border: 2px solid @color-5-op;
}
.product-list{
    width: 80%;
    margin: auto;
    list-style: none;
    padding: 0;
    li{
        display:grid;
        grid-template-areas: "ima ttt";
        grid-column-gap: 30px;
        margin-bottom: 30px;
        img{
            grid-area: "ima";
            height: 200px;
            width: 200px;
        }
        .desc{
            .border-top-bottom(2px,5px,@color-5-op);
            h2{
                text-decoration: underline;
            }
            grid-area: "ttt";
            text-align: justify;
            width: 700px;
        }
    }
}

.bg-about{
    background-image: url("@{about-banner}");
}
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: justify;
    font-family: @font-family;
    color: @text-color-1;
    background-color: @color-5-op;
    padding: 30px;
    h2{
        font-size: 3*@font-size;
        margin:auto;
    }
    p:nth-child(3){
        width:800px;
        text-align: justify;
        margin-top: 70px;
    }
    img{
        width: 400px;
        height: 300px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6)
    }
}

.banner {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.login-box{
    font-family: @font-family;
    background-color: @color-5-op;
    width: 600px;
    margin:auto;
    padding: 30px;
    input{
        width: 400px;
        height: 30px;
        margin: 10px;
        border-radius: 10px;
        border:none;
        padding: 10px;
    }
    input[type=submit]{
        width: 150px;
        background-color: @color-4;
        color:@text-color-1;
        font-weight: bold;
        height: 40px;
    }
}