/*font-family: 'Roboto Slab', serif;
font-family: 'Comfortaa', cursive;
font-family: 'Cardo', serif;
*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Comfortaa', cursive;
    width: 100%;
    text-align:center;
}

.parallax { 
    background-image: url("images/chinese-me.jpg");
    height: 960px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-menu{
    min-width: 960px;
    position: fixed;
    top: 0;
    background-color: 	white;
    width: 100%;
    text-align: center;
    box-shadow:0 4px 10px inset	#cccccc;
    box-shadow: 0 1px 10px 0 #555555;
    z-index: 1;
}

.menu-list{
    display: inline-block;
    font-size: 14px;
    padding: 25px 10px 25px;
}

.menu-list a{
    text-decoration: none;
    color: #d73c37;
}

.menu-list a:hover{
    color: 	#e6e0ae;
}

.wrapper{
    position: relative;
    margin: auto;  
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

img{
    width: 100%;
}

#info{
    background-color: #d73c37; 
}

.my-info{
    width: 900px;
    margin:auto;
    text-align: left;
    border:solid 10px white;
    padding: 10px;
    
}
.my-info h1{
    padding-bottom: 20px;
    text-decoration: underline;
}

.info-text{
    padding-bottom: 20px;
    color: white;
}

#education{
    background-color:#d73c37;
}

h1{
    padding-bottom: 20px;
    text-decoration: underline;
    color: white;
}

.castle{
    background-image: url(images/castle.jpg);
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

#objective{
    background-color: #d73c37;
    padding-bottom: 100px;  
}

#experience{
    height:680px;
}

.exp{
    margin: auto;
    width:900px;
    background-color:rgba(0,0,0,0.8);
    border:solid 10px white;
    padding: 50px;
}

.job-desc img{
    width:120px;
    height:120px;
    border-radius: 50%;
}

.text-left{
    text-align:left;
    clear:both;
}
.text-right{
    text-align:right;
    clear:both;
}

.float-right{
    float:right;
}

.job-desc{
    color: white;
    display:flex;
}

#about{
    background-color: #dfbc5e; 
}

.text-image img{
    height: 400px;
    width: auto;
}

.text-image{
     display:flex;  
}

#references{
    background-color: #dfbc5e;
    padding-bottom: 100px;
}

#skills{
}
.red-div{
    background-color: rgba(215,60,55,0.8);
}

.train{
    width: 900px;
    margin: auto;
}
.tr{
    width:220px;
    vertical-align: top;
    border:solid 10px white;
    display:inline-block;
    margin: 10px;
    padding: 10px;
}

.tr img{
    width: auto;
    height: 180px;
    max-width: 200px;
}

#hei{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 80px;
}
.tr p{
    color: white;
    padding-bottom: 10px;
    padding-top: 30px;
    height: 30px;
}

#achievments{
    padding-bottom: 100px;
}

.wall{
    background-image: url(images/wall.jpg);
    background-size: 100%;
    height: 1200px;
}

footer{
    background-color: 		#e6e0ae;
    box-shadow:0 -2px 10px 	black;
    border-top: solid 1px black;
}