/*base: #2D882D*/
@font-family: 'Roboto', sans-serif;
@menu-color:#6d6d6d;
@menu-bar-color:#fcfcfc;
@bg-color:#fcfcfc;
@home-banner:"images/home-banner.jpg";
@products-banner:"images/products-banner.jpg";
@about-banner:"images/about-banner.jpg";
@font-size:14pt;
@text-color-1:white;
@p-color:rgba(204, 204, 204,0.3);

@color-1: #2D882D;
@color-2: #88CC88;
@color-3: #55AA55;
@color-4: #116611;
@color-5: #004400;
@color-5-op:rgba(0,68,0,.6);

.border-top-bottom(@wd,@rad,@color){
    border-bottom: @wd solid @color;
    border-top: @wd solid @color;
    border-radius: @rad;
}
.menu-border(@color){
    border-left: 1px solid @color;
    &:last-child{
        border-right: 1px solid @color;
    }
}
.project-area(){
    width:960px;
    margin: auto;
    margin-top: 20px;
    background-color: @p-color;
    padding:20px;
    font-family: @font-family;
}
.desc-box(){
    border-left: 3px solid @color-5;
    padding: 10px;
    color: #505050;
    background-color: white;
    margin: 10px;
    text-align: justify;
}
body{
    padding:0;
    margin: 0;
    background-color: @bg-color;
}
nav{
    display: flex;
    justify-content: center;
    font-family: @font-family;
    margin-top: 50px;
    height:80px;
    font-weight: bold;
    color: @menu-color;
    background-color: @menu-bar-color;
    .logo-area{
        text-align: right;
        margin-left: -100px;
        #logo{
            height: 50px;
        }
    }
    .nav-bar{
        margin-left: 100px;
        padding: 0;
        height:20px;
        list-style: none;
        .item{
            display: inline-block;
            text-align: center;
            padding-left: 8px;
            padding-right: 8px;
            .menu-border(@menu-color);
            a{
                text-decoration: none;
                color: @menu-color;
            }
        }
    }
    .login{
        padding-top: 15px;
        margin-left: 100px;
        a{
            color: @menu-color;
        }
    }
}
.bg-home{
    background-image: url("@{home-banner}");
}
.banner{
    position: relative;
    margin: auto;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: right center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    .overlay{
        width: 30%;
        filter: opacity(80%);
        background-color: @color-5;
        height: 100%;
        line-height: 70px; 
        text-align: center;
        .spacer{
            height: 28%;
        }
        h1{
            margin: auto;
            color: @text-color-1;
            font-size:3*@font-size; 
            width: 60%;
            padding-bottom: 30px;
            padding-top: 30px;
            .border-top-bottom(2px,5px,white);
        }
    }
}
.line{
    margin:auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 60%;
    border-radius: 20px;
}
.container{
    width: 80%;
    max-width: 1240px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-family: @font-family;
}
.c1{
    display:grid;
    grid-template-areas: 
    'text img';     
    grid-gap: 30px;
    background-color: @color-5-op;
    padding: 20px;
    .txt{
        grid-area: text;
        .quote{
            color:@text-color-1;
            font-style: italic;
        }
        p{
            text-align: justify;
            line-height: 25px;
            color: @text-color-1;
            width: 80%;
            margin: auto;
        }
    }
    img{
        grid-area: img;
        width: 500px;
        margin-top: -50px;
        margin-bottom: -50px;
    }
}
.c2{
    h1{
        font-size: 2.5  *@font-size;
    }
    .img-list{
        .border-top-bottom(2px,5px,@color-2);
        padding: 20px;  
        width: 100%;
        display: flex;
        justify-content: space-around;
        .item{
            img{
                width: 300px;
                height:200px;
            }
        }
    }
    .columns-2{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: @font-family;
        background-color: @color-5-op;
        h2{
            width: 100%;
            font-size: 2*@font-size;
            color: @text-color-1;
        }
        p{
            width: 500px;
            padding:0 30px 40px 30px;
            text-align: justify;
            color: @text-color-1;
            margin:0;
        }
    }
}
footer{
    margin-top: 100px;
    background-color: rgba(0,68,0,.8);
    box-shadow: 0 2px 6px @color-5 inset;
    .footer-menu{
        height:200px;
    }
    .b-line{
        margin: auto;
        border-top: 2px solid white;
        font-size: 0.7*@font-size;
        color:@text-color-1;
        width: 960px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .bottom{
            list-style: none;
            padding: 0;
            li{
                display: inline-block;
                padding-left: 8px;
                padding-right: 8px;
                .menu-border(white);
            }
        }
    }   
}
.bg-prod{
    background-image: url("@{products-banner}");
}

.divisor{
    border: 2px solid @color-5-op;
}
.product-list{
    width: 75%;
    margin: auto;
    list-style: none;
    padding: 0;
    li{
        display:grid;
        grid-template-areas: "ima ttt";
        grid-column-gap: 30px;
        margin-bottom: 30px;
        img{
            grid-area: "ima";
            height: 200px;
            width: 200px;
        }
        .desc{
            .border-top-bottom(2px,5px,@color-5-op);
            h2{
                text-decoration: underline;
            }
            grid-area: "ttt";
            text-align: justify;
            width: 700px;
        }
    }
}
.bg-about{
    background-image: url("@{about-banner}");
}
.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: justify;
    font-family: @font-family;
    color: @text-color-1;
    background-color: @color-5-op;
    padding: 30px;
    h2{
        font-size: 3*@font-size;
        margin:auto;
    }
    p:nth-child(3){
        width:800px;
        text-align: justify;
        margin-top: 70px;
    }
    img{
        width: 400px;
        height: 300px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
}
.banner {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.login-box{
    font-family: @font-family;
    background-color: @color-5-op;
    width: 600px;
    margin:auto;
    padding: 30px;
    input{
        width: 400px;
        height: 30px;
        margin: 10px;
        border-radius: 10px;
        border:none;
        padding: 10px;
    }
    input[type=submit]{
        width: 150px;
        background-color: @color-4;
        color:@text-color-1;
        font-weight: bold;
        height: 40px;
    }
}
//AFTER LOGIN
.p-container{
    font-family: @font-family;
}

.p-header{
    padding: 60px 20px 60px 20px;
    display: flex;
    justify-content: center;
    font-size: 2*@font-size;
    h1{
        margin:0;
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    img{
        height:100px;
    }
    background: @color-2;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid @color-4;
}
.welcome{
    display:flex;
    padding:15px;
    border-bottom: 3px double @color-4;
    a{
        padding-left:5px;
    }
}
.p-list{
    .project-area();
    h2{
        margin:0;
    }
    ul{
        list-style-type: none;
    }
    h3{
        margin:0;
        margin-right:10px;
        margin-bottom:10px;
        display:inline-block;  
        a{
            color: inherit;
        }
    }
    .desc{
        .desc-box();
    }
    .p-new{
        font-size: @font-size;
        color:@color-4;
        .plus{
             width: 16px;
             vertical-align: middle;
             margin-left: 5px;
             padding-bottom: 4px;
        }
    }
}
.p-del{
    font-size: @font-size;
    color:red;
    .minus{
         width: 16px;
         vertical-align: middle;
         margin-left: 5px;
         padding-bottom: 4px;
        cursor: pointer;
    }
}
.hidden{
    display:none;
}
.arrow-down { 
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(184, 184, 184);
    display:inline-block;
}
.dark{
    border-top: 10px solid rgb(80, 80, 80);
}
.project-items{
    .project-area();
    font-family: @font-family;
    h2{
        font-size: 1.5*@font-size;
    }
    .header{
        font-weight: bold;
        font-size: @font-size;
    }
    .p-description{
        word-wrap: break-word; 
        .desc-box(); 
    }
    .item{
        list-style-type: disc;
    }
}
.back{
    padding:10px;
    border-bottom: 1px solid @color-5;
    background-color: @p-color;
    font-family: @font-family;
    a{
        color: inherit;
    }
}
#p-form{
    .goal-item{
        display: block;
    }
    input{
        line-height: 20px;
    }
    input,textarea{
        border:1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}
.succ{
    padding: 20px;
    background-color: @color-2;
    color:@color-5;
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px)and(max-width: 1024px) {

    nav{
        font-size: @font-size;
    }
    .banner{
        height: 300px;
        .overlay{
            .spacer{
                height: 30px;
            }
            h1{
                font-size: 2*@font-size;
                line-height: 50px;
                padding: 20px 0 20px 0;
            }
        }
    }
    .container{
        width: 640px;
        margin:auto;
        margin-top: 50px;
    }
    .c1{
        grid-template-areas: 
        'text text'
        'img img';  
        img{
            margin: auto;
            margin-bottom: -50px;
            width: 300px;
        }
    }
    .c2 .img-list .item img{
        width:200px;
        height: 150px;
    }
    .product-list{
        li{
            .desc{
                width:450px;
            }
            img{
                margin-top: 30px;
                width: 50px;
                height: 50px;
            }
        }
    }
    footer{
        margin-top: 50px;
        .b-line{
            width:640px;
        }
        .footer-menu{
            height:100px;
        }
    }
    .about{
        img{
            margin:auto;
        }
    }
    .login-box{
        width:500px;
        margin:auto;
        input{
            width: 300px;
            height: 20px;
        }
    }
    .p-list{
        width:640px;
    }
    .project-items{
        width:640px;
    }
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 768px){

    nav{
        font-size: 0.8*@font-size;
        height: 60px;
        .nav-bar{
            margin-left: 10px;
        }
        .login{
            margin-left: 20px;
        }
    }
    .banner{
        height: 150px;
        .overlay{
            .spacer{
                height: 12px;
            }
            h1{
                font-size: @font-size;
                line-height: 25px;
                padding: 10px 0 10px 0;
            }
        }
    }
    .container{
        padding: 0;
        margin:0;
        margin-top: 50px;
    }
    .c1{
        grid-template-areas: 
        'text text'
        'img img';  
        img{
            margin: auto;
            margin-bottom: -50px;
            width: 300px;
        }
    }
    .c2 {
        h1{
            font-size: 1.6*@font-size;
        }
        .img-list {
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            padding: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            .item{
                flex: 0 1 100%;
                img{
                    width:80%;
                    height: 150px;
                }
            }
        }
    }
    footer .b-line{
        width:320px;
    }
    .product-list{
        li{
            grid-column-gap: 10px;
            .desc{
                width:150px;
                h2{
                    font-size: @font-size;
                }
                p{
                    font-size: 0.8*@font-size;
                }
            }
            img{
                margin-top: 50px;
                width: 50px;
                height: 50px;
            }
        }
    }
    footer{
        margin-top: 30px;
        .footer-menu{
            height:100px;
        }
    }
    .about{
        h2{
            font-size: @font-size;
        }
        p{
            font-size: 0.8*@font-size;
        }
        img{
            margin:auto;
            width: 200px;
            height: 150px;
        }
    }
    .login-box{
        width:280px;
        padding:10px;
        margin:auto;
        input{
            width: 200px;
            height: 20px;
        }
    }
    .p-header{
        h1{
            font-size:1.5*@font-size;
        }
    }
    .p-list{
        width:280px;
        padding:10px;
    }
    .project-items{
        width:280px;
        padding:10px;
        .p-description {
            font-size:0.8*@font-size;
        }
    }
    #p-desc{
        width:270px;
    }
}