@title-font: 'Charmonman', cursive;
@body-font: 'Srisakdi', cursive;
@sidebar-color:rgba(255, 255, 255, 0.541);
@sidebar-font-color:rgb(0, 0, 0);
@selected-color:rgb(17, 0, 248);

body{
    margin:0;
    padding: 0;
    background-image: url("9692_valkyria_chronicles.jpg");
    font-family: @body-font;
}
.title-area{
    display: flex;
    justify-content: center;
    font-family: @title-font;
    h1{
        font-size: 5em;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.74);
    }
}
.container{
    margin-top: 50px;
    width: 960px;
    margin:auto;
    display: grid;
    grid-template-areas:
     'side ma ma'
     '. ma ma';
     grid-template-columns: 180px auto;
     column-gap: 20px;
    .sidebar{
        grid-area: side;
        background-color: @sidebar-color;
        box-shadow:0 0 5px #888888;
        padding:10px;
        .roster-item{
            padding: 5px;
            color: @sidebar-font-color;
            font-weight: bold;
            font-size: 1.2em;
        }
    }
    .main{
        box-shadow:0 0 5px #888888;
        height: 620px;
        margin-bottom: 20px;
        background-color: @sidebar-color;
        grid-area: ma;
        display: grid;
        grid-template-areas:
        'mid rt'
        'bot bot';
        grid-template-columns: auto 520px;
        column-gap: 20px;
        .squad-list{
            grid-area: mid;
            padding: 10px;
            .squad-item{
                padding: 5px;
                color: @sidebar-font-color;
                font-weight: bold;
                font-size: 1.2em;
            }            
        }
        .info{
            grid-area: rt;
            width:500px;
            padding: 10px;
            .info-item{
                padding:5px;
                font-weight: bold;
                background-color: rgba(255, 255, 255, 0.541);
            }
            .info-item:last-child{
                display: none;
            }
        }
        .img{
            grid-area: bot;
            display: flex;
            justify-content: center;
            img{
                height: 300px;
            }
        }
    }
}
.selected{
    color: @selected-color!important;
}