@font-family:'Roboto', sans-serif;

body{
    font-family: @font-family;
}
.wrapper{
    width:960px;
    margin: auto;
    margin-top:20px;
    padding:20px;
    background-color: rgba(106, 197, 250, 0.699);
    box-shadow: 0 0 5px black;
}
.user{
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    border-style:none;
    height: 20px;
    margin-bottom: 20px;
}

.chatbox{
    margin:20px 50px 20px 50px;
    background: white;
    height: 300px;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    overflow-y: scroll;
}
form{
    margin-left: 50px;
    #usermsg{
        box-shadow: 0 0 5px #ccc;
        border-radius: 5px;
        border-style:none;
        height: 20px;
    }
    #submit{
        box-shadow: 0 0 5px rgb(214, 214, 214);
        border-radius: 5px;
        color:#CCEDFE;
        font-weight: bold;
        background: #1C9DE9;
        border-style:none;
        height: 20px;
        margin-left:30px;
        width: 100px;
        text-align: center;
    }
}