@card-color:#ececec;
@header-size:50px;
@font-family: 'Roboto', sans-serif;

.grey-box(){
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
}
.logo{
    width:600px;   
    margin:auto;
}
body{
    margin:0;
    padding:0;
    padding-bottom: 30px;
    font-family: @font-family;
}
.title{
    width:600px; 
    margin: auto;
    display: block;
    margin-top: 10px;
}
.container{
    width: 960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
}
a{
    color: black;
}
.card{
    width:250px;
    padding: 10px;
    background-color: @card-color;
    margin: 10px;
    text-align: center;
    img{
        width:240px;
        height: 240px;
    }
}

.grid{
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-areas: 
    "words image";
    width: 960px;
    margin: auto;
    margin-top: 50px;
    background-color: @card-color;
    padding: 20px;
    .info{
        grid-area: words;
    }
    .sprite{
        grid-area: image;
        justify-self: end;
        align-self: center;
        img{
            width:240px;
            height: 240px; 
        }
    }
}
.stats {
    text-align: center;
    margin-top: 5px;
    th,td{
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}