@card-color:#ececec;
@header-size:50px;
@font-family: 'Roboto', sans-serif;
.fixed-width(){
    width:720px;
    display: flex;
    justify-content: center;
}
.grey-box(){
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
}
.logo{
    width:600px;   
    margin:auto;
}
body{
    margin:0;
    padding:0;
    padding-bottom: 30px;
    font-family: @font-family;
}
.title{
    width:600px; 
    display: block;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;

}
a{
    color: black;
}

.card{
    font-size: 10px;
    width:120px;
    padding: 10px;
    background-color: @card-color;
    margin: 10px;
    text-align: center;
    img{
        width:110px;
        height: 110px;
    }
}

.container{
    .fixed-width();
}
.poke-table{
    border-spacing: 20px;
    margin: auto;
    width:720px;
    tr{
        text-align: center;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
        td{
            padding: 25px 30px;  
        }  
        th{
            padding: 25px 30px;  
        }  
    }  
}

.title-a { 
    grid-area: tt;
}

.side-a { 
    grid-area: side;
    display:flex;
    justify-content: flex-end;
    .side-bar{
        margin-top: 30px;
        text-align: left;
        padding: 10px;
        padding-left: 20px;
        width:200px;
        height:fit-content;
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
        margin-right:50px;
        line-height: 30px;
        ul{
            margin:0;
            padding: 0px;
            list-style-type: none;
        }
    }
}
.fav-a { 
    grid-area: fav; 
    .fav-bar{
        .fixed-width();
        width:714px;
        flex-wrap: wrap;
        border:3px solid rgba(63, 127, 191, 0.8);
        h2{
            width:100%;
            text-align: center;
        }
    }
    .empty{
        width:50%;
        color:#ccc;
        border: 3px dashed #ccc;
        margin-bottom:20px;
        padding: 10px;
    }
}
.table-a { grid-area: tab; }

.grid-container {
  display: grid;
  grid-template-areas:
    'tt tt'
    'side fav'
    'side tab';
  grid-gap: 10px;
  padding: 10px;
}