body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    min-width: 960px;
}

p{
    text-align: justify;
}

header{
    width: 100%;
    box-shadow: 0 0 5px black;
    position: fixed;
    top:0;
    height: 50px;
    line-height: 50px;
    background-color: white;
}
header h1{
    margin: auto;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: #efefef;
    width:60%;
    margin: auto;
    padding: 10px 5%;
    margin-top: 50px;
}

main h2{
    border-bottom: 2px solid black;
    width: fit-content; 
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 100%;
}

img{
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}
.mock{
    width: 60%;
}
.table{
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

