body{
    max-width: 960px;
    min-width: 814px;
    margin: auto;
}

.title{
    background-color:purple;
    width:100%;
    font-size:40px;
    text-align: center;
    background-image: linear-gradient(to right, purple , #ff87ff);
}

.top-menu{
    background-color:#6b006d;
    color:white;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    margin: auto;
}
.top-menu .item:hover{
    background-color: #fa1eff;
}

.bargraph { grid-area: up; }
.sidebar { grid-area: side; }
.flexbottom { grid-area: down; }

.container {
    display: grid;
    grid-template-areas:
        'side up'
        'side down';
    background-color: purple;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    grid-template-rows: 300px 400px;
    flex-wrap: wrap;
}

.bargraph{
    display: grid;
    padding-top: 30px;
    grid-template-columns: auto auto auto auto;
    grid-column-gap:30px;
    grid-template-rows: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.bar1{grid-area:2/1/5}
.bar2{grid-area:3/2/5}
.bar3{grid-area:1/3/5}
.bar4{grid-area:4/4/5}

.bargraph > div{
    background-color: green; 
}

.sidebar{
    width:200px;
    padding: 20px;
    font-size: 20px;
}

.subItem{
    display: none;
    font-weight: bold;
    position: relative;
    left: 30px;
}

.sidebar .item:hover{
    font-weight: bold;
}

.item:hover .subItem{
    display: block;
}

.subItem:hover{
    color:red;
}

.flexbottom{
    background-color: #ff87ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flexbottom>h2 {
  flex:100%;
}
.mon{
    flex: 0 1 100px;
    background-image: linear-gradient(to right, #440044 , purple);
    border-radius: 20px; 
    color:white;
    padding: 10px;
    height: 100px;
    border: solid 1px black;
}