@color_1: white;
@color_2: red;
@color_3: black;
@color_4: rgb(0, 0, 207);
@background_color_1: purple;
@background_color_2: #a704aa;
@background_color_3: #f685f8;
@background_color_4: green;
@background_color_5: rgb(53, 1, 47);

body {
	max-width: 960px;
	min-width: 814px;
	margin: auto;
}
.title {
	background-color: @background_color_1;
	width: 100%;
	font-size: 40px;
	text-align: center;
	background-image: linear-gradient(to right,@background_color_1 ,@background_color_3);
}
.top-menu {
	background-color: darken(@background_color_1,5%);
	color: @color_1;
	border-radius: 20px;
	text-align: center;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	width: 80%;
	margin: auto;	
	.table_gradient(@background_color_1,15%,3);
	.item {
		&:hover {
			background-color: @background_color_3;
		}
	}
}
.table_gradient(@color, @change, @repeat, @counter: 0) when (@counter < @repeat){

    div:nth-child(@{repeat}n + @{counter}){
        background: @color;
    }
	.table_gradient(lighten(@color, @change), @change, @repeat, @counter + 1);
}

.bargraph {
	grid-area: up;
	display: grid;
	padding-top: 30px;
	grid-template-columns: auto auto auto auto ;
	grid-column-gap: 30px;
	grid-template-rows: auto auto auto auto;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	>div {
		background-color: @background_color_4;
	}
}
.sidebar {
	grid-area: side;
	width: 200px;
	padding: 20px;
	font-size: 20px;
	.item {
		&:hover {
			font-weight: bold;
		}
	}
}
.flexbottom {
	grid-area: down;
	background-color: @background_color_2;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	>h2 {
		flex: 100%;
	}
}
.container {
	display: grid;
	grid-template-areas: 'side up' 'side down';
	background-color: @background_color_1;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	grid-template-rows: 300px 400px;
	flex-wrap: wrap;
}
.bar1 {
	grid-row-start: 2;
  	grid-row-end: 5;
}
.bar2 {
	grid-row-start: 3;
  	grid-row-end: 5;
}
.bar3 {
	grid-row-start: 1;
  	grid-row-end: 5;
}
.bar4 {
	grid-row-start: 4;
  	grid-row-end: 5;
}
.subItem {
	display: none;
	font-weight: bold;
	position: relative;
	left: 30px;
	&:hover {
		color: @color_2;
	}
}
.item {
	&:hover {
		.subItem {
			display: block;
		}
	}
}
.mon {
	flex: 0 1 100px;
	border-radius: 20px;
	color: @color_3;
	padding: 10px;
	height: 100px;
	border: solid 1px @color_3;

	div:first-child{
		font-weight: bold;
	}
    &:nth-child(odd){
        background-image: linear-gradient(to right, @background_color_5 , @background_color_1);
	}
	&:nth-child(even){
        background-image: linear-gradient(to right, @background_color_1 , @background_color_5);
	}
}

@media screen and (max-width: 960px) {
	.container{
		grid-template-areas: 'up up' 'down down';
		grid-template-rows: 230px;
	}
	.sidebar {
		display: none;
	}
	.top-menu{
	width: 100%;
	border-radius: 0;
	flex-wrap: wrap;
	padding: 0;
	.item{
		flex:0 0 100%;
	}
}
	.container{
		border-radius: 0;
		padding: 0;
	}
	.flexbottom {
		>div {
			flex: 0 0 100%;
			}
	}
	.mon {
		flex: 0 1 100px;
		border-radius: 20px;
		color: @color_3;
		padding: 10px;
		height: 100px;
		border: solid 1px @color_3;
		background-image: radial-gradient(@background_color_1 , @background_color_5)!important;
	
		div:first-child{
			font-weight: bold;
			color: @color_4;
		}
		div:not(:first-child){
			color:lighten(@color_4,40%);
		}
	}
	.bargraph {
		padding-top: 30px;
		grid-template-columns: auto auto auto auto ;
		grid-row-gap: 30px;
		grid-template-rows: 20px 20px 20px 20px ;
		width: 90%;
		margin: 0;
		>div {
			background-color: @color_2;
		}
	}

	.bar1 {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.bar2 {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.bar3 {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 5;
	}
	.bar4 {
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 2;
	}
}